src/main/mule/com/product/api/product-database-utils.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="product-database-utilsFlow" doc:id="4254f563-f95d-4b78-aec9-4cc68fba246a" >
		<http:listener doc:name="Listener" doc:id="9579afce-ab8b-46d7-a984-1d0773893a2f" config-ref="sales-products-sapi-httpListenerConfig" path="/setup-product-db"/>
		<db:execute-ddl doc:id="5dd7bfa9-ac49-433a-91e3-78c7a8e263c8" config-ref="Database_Config">
			<db:sql ><![CDATA[DROP TABLE IF EXISTS account;
DROP TABLE IF EXISTS job_info;
CREATE TABLE job_info (
  job_id VARCHAR(255) PRIMARY KEY,
  trace_id VARCHAR(255),
  route VARCHAR(255) NOT NULL,
  error_message VARCHAR(255),
  is_success BOOLEAN,
  batch_start_timestamp TIMESTAMP,
  batch_end_timestamp TIMESTAMP
);
CREATE TABLE account (
  account_id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  phone VARCHAR(255),
  is_deleted BOOLEAN  DEFAULT FALSE,
  is_intrested BOOLEAN DEFAULT FALSE,
  salesforce_id VARCHAR(255),
  last_modified_system VARCHAR(255) DEFAULT 'E',
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  modified_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);
INSERT INTO account ( name, phone, salesforce_id) VALUES ('testname', '+91 12345', 'SFDCTestID');
]]></db:sql>
		</db:execute-ddl>
		<ee:transform doc:name="Transform Message" doc:id="da0741b2-062f-4e7a-b691-72b7fd77bd0d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "setup the product database"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="product-database-utils-select-Sub_Flow" doc:id="cf7091b7-a960-463f-ae59-d738b1e0a873" >
		<db:select doc:name="Select" doc:id="d719fd9d-eb4e-43d0-962e-8ea57e1447fe" config-ref="Database_Config" transactionalAction="NOT_SUPPORTED" queryTimeoutUnit="MINUTES">
			<db:sql ><![CDATA[#[vars.query]]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.parameters]]]></db:input-parameters>
		</db:select>
	</sub-flow>
	<sub-flow name="product-database-utils-bulk-create-Sub_Flow" doc:id="844cfdbc-6217-4fc7-890f-820a1fddb727" >
		<db:bulk-insert doc:name="Bulk insert" doc:id="9be65df4-74ef-4a71-a1ef-3f6431c251fa" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[vars.parameters]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[#[vars.query]]]></db:sql>
		</db:bulk-insert>
	</sub-flow>
	<sub-flow name="product-database-utils-create-Sub_Flow" doc:id="56130909-3444-476e-9d28-ac13e2773cf1" >
		<db:insert doc:name="Insert" doc:id="a4df34de-b618-488f-a64f-4ac351fb938e" autoGenerateKeys="true" config-ref="Database_Config">
			<db:sql ><![CDATA[#[vars.query]]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.parameters]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value='#[if(vars.query contains "account") "account_id" else "job_id"]' />
			</db:auto-generated-keys-column-names>
		</db:insert>
	</sub-flow>
	<sub-flow name="product-database-utils-update-Sub_Flow" doc:id="6486d1d9-24e2-4995-a5db-85a38b07a96d" >
		<db:bulk-update doc:name="Bulk update" doc:id="135ed699-8ebe-4782-9c86-d32ad8094983" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[vars.parameters]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[#[vars.query]]]></db:sql>
		</db:bulk-update>
	</sub-flow>
	<sub-flow name="product-database-utils-delete-Sub_Flow" doc:id="8ff340e3-d2cd-4caf-9354-6cfa4a8471e0" >
		<db:bulk-delete doc:name="Bulk delete" doc:id="70ab90a1-e978-4eea-93c9-5cda3dab6fb3" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[vars.parameters]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[#[vars.query]]]></db:sql>
		</db:bulk-delete>
	</sub-flow>
	<flow name="product-database-utilsFlow1" doc:id="96bdf63b-33e4-4844-a622-8deaf0f52def" >
		<http:listener doc:name="Listener" doc:id="d604769c-98f7-40bd-926e-eec2e863b9be" config-ref="sales-products-sapi-httpListenerConfig" path="/batch" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="c89114dd-3538-4733-9978-b3b68e8602ad" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
"select * from job_info"]]></ee:set-variable>
				<ee:set-variable variableName="parameters" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="product-database-utils-select-Sub_Flow" doc:id="daf15b23-ef5b-4832-9457-50ac4ac96218" name="product-database-utils-select-Sub_Flow"/>
		<ee:transform doc:name="Transform Message" doc:id="7ed7a5e0-04ad-42cc-bb06-d58d8ade27c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
