src/main/mule/sales-to-database-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="05c43994-78fe-4e1f-9b2b-0d31b34d1cce" />
	<flow name="sales-to-database-implFlow" doc:id="4e47632f-5683-4ea7-9525-029003cc9b15" >
		<scheduler doc:name="Scheduler" doc:id="e457a82b-38c5-40f5-8830-fd726ea44853" >
			<scheduling-strategy >
				<fixed-frequency startDelay="100" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="sales-to-database-fetch-lastrun-timestamp-implSub_Flow" doc:id="444f3c24-c08e-4e39-929a-530549d3e006" name="sales-to-database-fetch-lastrun-timestamp-implSub_Flow" target="currentRunTimestamp" targetValue="#[payload[0].BATCH_END_TIMESTAMP default now()]"/>
		<ee:transform doc:name="setBatchJobInfo" doc:id="45001a40-422d-4833-896a-5d3f192b737e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="currentBatchJobInfo" ><![CDATA[%dw 2.0
var batchEndTime= vars.currentRunTimestamp + (p("secure::jobInfo.batchFrequency") as Period)
output application/java
---
{
	jobId: correlationId,
	batch_start_timestamp: vars.currentRunTimestamp,
	batch_end_timestamp: batchEndTime,
	id: (vars.currentRunTimestamp as String) ++ (batchEndTime as String)
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="sales-api-get-sales-account-count-implSub_Flow" doc:id="40a94a5d-07b9-4686-8f95-8d4c9f2c8ac0" name="sales-api-get-sales-account-count-implSub_Flow" target="totalRecordCount" targetValue="#[sizeOf(payload)]"/>
		<set-variable value='#[p("secure::sales.pageSize") as Number]' doc:name="SetPageSize" doc:id="2fb04b6c-f53c-45ec-b002-ef4022828352" variableName="pageSize"/>
		<flow-ref doc:name="common-utils-pagination-Sub_Flow" doc:id="8709a791-d2a9-4674-becd-6559df895c5a" name="common-utils-pagination-Sub_Flow" target="pages"/>
		<foreach doc:name="For Each" doc:id="a1aa9da3-2764-42e3-9d65-1ebf859e3652" collection="#[vars.pages]">
			<flow-ref doc:name="sales-to-database-impl-query-pagable-Sub_Flow" doc:id="ce339e4d-3367-47a4-8e53-36162dc93a7a" name="sales-to-database-impl-query-pagable-Sub_Flow" target="sfRecords"/>
			<set-variable value="#[vars.sfRecords.productAccountId__c filter ($ != null)]" doc:name="Set ProductAccountIds" doc:id="7c5ecbb5-23b2-431c-8462-59064f5a3822" variableName="ids"/>
			<choice doc:name="Choice" doc:id="795fd2d5-dff5-4a1e-8c76-dab0f428ff74" >
				<when expression="#[not isEmpty(vars.ids)]">
					<flow-ref doc:name="sales-to-database-check-records-implSub_Flow" doc:id="b150f8db-a4b4-4d10-8fff-bf933fe07619" name="sales-to-database-check-records-implSub_Flow" target="matchedProductAccountIds" targetValue="#[payload.account_id]"/>
				</when>
				<otherwise >
					<set-variable value="#[[]]" doc:name="Set matchedProductAccountIds" doc:id="98894c0f-1332-4305-9c91-dc37f3929895" variableName="matchedProductAccountIds"/>
				</otherwise>
			</choice>
			<ee:transform doc:name="prepareDBPayload" doc:id="0c9a63c8-bcab-40ab-a223-4fae4fc95ad6" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="productDbRequest" ><![CDATA[%dw 2.0
var updateRecords=  vars.sfRecords filter (vars.matchedProductAccountIds contains $.productAccountId__c)
var insertRecords= vars.sfRecords -- updateRecords

output application/java
---
{
	dbCreate: insertRecords map ({
					name : $.name, 
					phone : $.phone, 
					salesforce_id:$.id,
					is_intrested: $.isIntrested default false
				}),
	
	dbUpdate: updateRecords map ({
					name : $.name, 
					phone : $.phone, 
					salesforce_id:$.id,
					id: $.productAccountId__c,
					IsDeleted: $.IsDeleted,
					lastModifiedSystem: "I",
					is_intrested: $.isIntrested default false
				})
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Choice" doc:id="5ea6a3d0-f8e9-441a-99e2-370d9ad29eaa" >
				<when expression="#[not isEmpty(vars.productDbRequest.dbCreate)]">
					<flow-ref doc:name="sales-to-database-bulk-create-implSub_Flow" doc:id="e028897e-1a92-4a3c-929f-14dde8f1dac9" name="sales-to-database-bulk-create-implSub_Flow"/>
				</when>
			</choice>
			<choice doc:name="Choice" doc:id="9c1b5458-9b47-45d9-bd6f-783e0fd81b3e" >
				<when expression="#[not isEmpty(vars.productDbRequest.dbUpdate)]">
					<flow-ref doc:name="sales-to-database-bulk-update-implSub_Flow" doc:id="1fb3cac6-5ce3-4a3e-9e5a-93780f5577a9" name="sales-to-database-bulk-update-implSub_Flow"/>
				</when>
			</choice>
		</foreach>
	</flow>
		<sub-flow name="sales-api-get-sales-account-count-implSub_Flow" doc:id="7813a7cb-19a9-4d2c-9d5e-ca1bd3297d7e" >
		<ee:transform doc:name="setQueryVars" doc:id="e43b069a-49a3-43c6-b466-7768000c2e4d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
p("secure::sales.countQuery")]]></ee:set-variable>
				<ee:set-variable variableName="parameters" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="sales-database-utils-queryall-Sub_Flow" doc:id="c4c128f7-8c4f-4df3-875a-c45ff556d5f8" name="sales-database-utils-queryall-Sub_Flow"/>
		<ee:transform doc:name="output" doc:id="98e30467-212c-41d6-bc3b-91e0b1ba1ff9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>

			</ee:message>
			<ee:variables >
			</ee:variables>
		
</ee:transform>
	</sub-flow>
	<sub-flow name="sales-to-database-impl-query-pagable-Sub_Flow" doc:id="0fbb418b-6876-4493-a0db-f74978c05302" >
		<ee:transform doc:name="setQueryVars" doc:id="99fb4aee-bb36-4ce4-8f6b-08c1f99cd5e5" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
p("secure::sales.pagableFullLoadQuery")]]></ee:set-variable>
				<ee:set-variable variableName="parameters" ><![CDATA[%dw 2.0
output application/json output application/json skipNullOn="everywhere"
---
{
	limit: payload.limit,
	offset: payload.offset,
	modifiedFrom: vars.modifiedFrom,
	modifiedTo: vars.modifiedTo
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="sales-database-utils-queryall-Sub_Flow" doc:id="f712ec66-89e4-491d-bf4a-9720180371f0" name="sales-database-utils-queryall-Sub_Flow"/>
		<ee:transform doc:name="output" doc:id="5c57f791-ce15-4eb7-8cca-81a92dca63a3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>

			</ee:message>
			<ee:variables >
			</ee:variables>
		
</ee:transform>
</sub-flow>
	<sub-flow name="sales-to-database-check-records-implSub_Flow" doc:id="0d4cc08d-7838-48ea-a16c-f37fe75f0b6d" >
		<ee:transform doc:name="prepareQuery" doc:id="29f57cc1-50ed-44a8-a96f-65e983f2124a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
p("secure::product.queryIds")]]></ee:set-variable>
				<ee:set-variable variableName="parameters" ><![CDATA[%dw 2.0
output application/java
---
{ids: vars.ids joinBy ","}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="product-database-utils-select-Sub_Flow" doc:id="461cd244-8ef0-41d9-851d-3686a6aae7a3" name="product-database-utils-select-Sub_Flow"/>
		<ee:transform doc:name="prepareOut" doc:id="afe35118-58f3-4151-9c52-f4c5df5f4b85" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="sales-to-database-bulk-create-implSub_Flow" doc:id="e8e74b2f-4489-461b-b11a-8f62d8f3aece" >
		<ee:transform doc:name="prepareQuery" doc:id="8f5bf5f0-3a27-4bf3-b857-0201d0697d69" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
p("secure::product.bulkInsertStatement")]]></ee:set-variable>
				<ee:set-variable variableName="parameters" ><![CDATA[%dw 2.0
output application/java
---
vars.productDbRequest.dbCreate]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="product-database-utils-bulk-create-Sub_Flow" doc:id="dadb9f5b-9f06-4ad5-9884-83ad942cb7ed" name="product-database-utils-bulk-create-Sub_Flow"/>
		<choice doc:name="Choice" doc:id="81df3dc1-2605-4519-830b-021e5141f99e" >
			<when expression="#[(payload[0] default 0)&gt;0]">
				<ee:transform doc:name="prepareOut" doc:id="61ec9c1f-f4aa-4bf5-8e89-993fb449bcb8">
			<ee:message>
				<ee:set-payload><![CDATA[output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise DB_CUSTOM:UPDATE_FAILED" doc:id="1bafa1c2-c573-4443-8824-92851fd5f266" type="DB_CUSTOM:UPDATE_FAILED" description="NO RECORDS ARE UPDATED"/>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="sales-to-database-bulk-update-implSub_Flow" doc:id="307c7b8f-9069-4e4f-88e8-26083eb6108e" >
	<ee:transform doc:name="prepareQuery" doc:id="9d567ab0-7a76-4af2-8ca0-1e3316379ca7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
p("secure::product.bulkUpdateStatement")]]></ee:set-variable>
				<ee:set-variable variableName="parameters" ><![CDATA[%dw 2.0
output application/java
---
vars.productDbRequest.dbUpdate]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="product-database-utils-update-Sub_Flow" doc:id="e24074cf-26ff-4677-bdf4-a82c529448d0" name="product-database-utils-update-Sub_Flow"/>
		<choice doc:name="Choice" doc:id="2d35fc4f-cc6d-4f80-989a-41c5e4165e20" >
			<when expression="#[(payload[0] default 0)&gt;0]">
				<ee:transform doc:name="prepareOut" doc:id="790e03f8-d0dc-4760-ae2a-7fa35eed3c7c">
			<ee:message>
				<ee:set-payload><![CDATA[output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise DB_CUSTOM:UPDATE_FAILED" doc:id="00983de3-cc78-4dbf-9d2c-834961a1b050" type="DB_CUSTOM:UPDATE_FAILED" description="NO RECORDS ARE UPDATED"/>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="sales-to-database-fetch-lastrun-timestamp-implSub_Flow" doc:id="3f480ae9-1ce5-4990-acbf-54b3eb7e1cc5" >
		<ee:transform doc:name="prepareQuery" doc:id="e8e824df-221f-46ab-b2bb-1a844def93d6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
p("secure::jobInfo.lastRunquery")]]></ee:set-variable>
				<ee:set-variable variableName="parameters" ><![CDATA[%dw 2.0
output application/java
---
{}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="product-database-utils-select-Sub_Flow" doc:id="c9396656-03ea-4bdd-8ef8-10bac7d0664e" name="product-database-utils-select-Sub_Flow"/>
		<ee:transform doc:name="prepareOut" doc:id="dffae43e-ce64-470a-801a-aaaba13671da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
